<div>
    <div class="trial-detail-left-bg">
        
        <h1 class="trial-detail-title">{{trial.title}}</h1>
        <h2 class="trial-detail-ntc"> {{trial.nct_number}}</h2>
        <div class="trail-detail-">
        <div class="trail-detail-labels">
            <span>Classification:</span>
            <span>Phase:</span>
            <span>Recruitment Status:</span>
            <span>Sponsor:</span>
            <span>Minimum Age:</span>
            <span class="long">Conditions:</span>
            <span>Enrolled:</span>
            <span>Funded By:</span>
            <span class="long">Study Designs:</span>
            <span>Start Date:</span>
        </div>
        <div class="trial-detail-values">
            <span class="trial-detail-subtitle"> something{{trial.classification}}</span>
            <span class="trial-detail-subtitle"> something{{trial.phases}}</span>
            <span class="trial-detail-subtitle"> {{trial.recruitment}}</span>
            <span class="trial-detail-subtitle"> {{trial.sponsor}}</span>
            <span class="trial-detail-subtitle"> {{trial.age}}</span>
            <span class="trial-detail-subtitle long"> Conditions: {{trial.conditions}}</span>
            <span class="trial-detail-subtitle"> {{trial.enrolment}}</span>
            <span class="trial-detail-subtitle"> {{trial.funded_by}}</span>   
            <span class="trial-detail-subtitle long"> {{trial.study_designs}}</span>            
            <span class="trial-detail-subtitle"> {{trial.start_date}}</span>
        </div>
        <button type="button" class="trial-detail-summary" onclick="print()"> Print Summary </button>
                
        </div>
        <!--<h2 class="trial-detail-subtitle"> Outcome Measures: {{trial.outcome_measures}}</h2>-->
    </div>
    
    <!--<pre>{{trial}}</pre>-->
    
</div>
<div class="trial-detail-similiar-trials-bar">
    <p class="trial-detail-similiar-trials-text">Simliar Trials</p>
</div>
<div class="row">
    <trial-similar class="col-md-3 nopadding" ng-repeat="trial in similarTrials" ng-click="select(trial)" trial="trial"> {{trial.name}}  </trial-similar>
</div>