<div>
    <div class="trial-detail-left-bg">
        <h1 class="trial-detail-title">{{trial.title}}</h1>
        <h2 class="trial-detail-classification"> {{trial.classification}}</h2>
        <h2 class="trial-detail-subtitle"> {{trial.nct_number}}</h2>
        <h2 class="trial-detail-subtitle"> Phase: {{trial.phases}}</h2>
        <h2 class="trial-detail-subtitle"> Recritment Status: {{trial.recruitment}}</h2>
        <h2 class="trial-detail-subtitle"> Sponsor: {{trial.sponsor}}</h2>
        <h2 class="trial-detail-subtitle"> Minimum Age: {{trial.age}}</h2>
        <h2 class="trial-detail-subtitle"> Conditions: {{trial.conditions}}</h2>
        <h2 class="trial-detail-subtitle"> Enrolled: {{trial.enrolment}}</h2>
        <h2 class="trial-detail-subtitle"> Funded By: {{trial.funded_by}}</h2>
        <h2 class="trial-detail-subtitle"> Study Designs: {{trial.study_designs}}</h2>
        <h2 class="trial-detail-subtitle"> Start Date: {{trial.start_date}}</h2>
        <!--<h2 class="trial-detail-subtitle"> Outcome Measures: {{trial.outcome_measures}}</h2>-->
    </div>
    
    <pre>{{trial}}</pre>
    
</div>
<div class="trial-detail-similiar-trials-bar">
    <p class="trial-detail-similiar-trials-text">Simliar Trials</p>
</div>
<div class="row">
    <trial-similar class="col-md-3 nopadding" ng-repeat="trial in similarTrials" ng-click="select(trial)" trial="trial"> {{trial.name}}  </trial-similar>
</div>