<div class="similar-trial-bg">
 

    <h1 class="similar-trial-title">Long trial study title</h1>
    <div class="similar-trial-left-block">
    <!--<br/>-->
    <span class="similar-trial-classification">Classification</span>
    <!--<br/>-->
    <span class="similar-trial-phase">Phase I</span>
    <!--<br/>-->
    <span class="similar-trial-sponsor">Sponsor</span>
 </div>
 <p class="pull-right similar-trial-text" >Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. Etiam gravida mollis tortor quis porttitor. rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit.</p>

</div>

