.logo {
  width: 191px;
  height: 45px;
  object-fit: contain;
  margin-left: 30px;
  margin-top: 15px;
  padding-top: 10px;
}
.header{  
  height: 150px;
  width:100%;
  background-color: #ededed; 
}
.search-bar {
  width: 600px;
  height: 40px;
  /*border-radius: 36px;*/
  background-color: #d8d8d8;
  margin: auto;
}

/*.home-bg {
  width: 100%;
  height: 422px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  position: relative; 
  
  
}
.home-bg-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
    top:0;
  z-index: 1;
  background-image: linear-gradient(95deg, #88f3e2, rgba(85, 227, 196, 0.09), rgba(80, 226, 193, 0));
}*/

/*.photo-1471864190281-a93a3070b6de {
  width: 1440px;
  height: 1024px;
  -webkit-filter: blur(15px);
  filter: blur(15px);
}*/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.home-title{  
  
  height: 86px;
  font-family: Roboto;
  font-size: 73px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  width:100%;
  padding-top:50px;
  margin-left: 55px;
  margin-top:0px;
}

/*
.similar-trial-text
*/